{% from "hello_macros.html" import nav_link with context %}
<!DOCTYPE html>
<html>
    <head>
        <title>Flask Hello World</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            div#main {
                max-width: 500px;
                padding: 20px;
            }

            nav .title {
                font-weight: bold;
            }

            a.active {
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <nav>
            <ul class="nav navbar-nav">
            <span class="title">Hello World!</span>
            </ul>
        </nav>
        <div id="main">
            <h2>This is part of the hello base template</h2>
            <p>To personalise greeting, add '/hi/firstname'</p>
            <p>To say hello with a pic, add '/hello/firstname'</p>
            <p>To see your jedi name, add '/jedi/firstname/lastname'</p>
            <br>
            {% block say_hi %}{% endblock %}
            {% block hi_person %}{% endblock %}
            {% block hello_person %}{% endblock %}
            {% block hello_jedi %}{% endblock %}
            <br>
            <h2>This is part of my base template</h2>
        </div>
        <footer>
            {% block footer %}
                Watch! This part of the footer is coming from the base template...
                <br>
                <br>
            {% endblock %}
        </footer>
    </body>
</html>